HUIXIAO_DOLPHIN_REPO_PATH=../../Dolphin
HUIXIAO_FUNASR_SHIM_PATH=../../Dolphin_poc/funasr_shim
HUIXIAO_DOLPHIN_MODEL_DIR=../../Dolphin_poc/models/base.cn
HUIXIAO_DOLPHIN_MODEL_NAME=base.cn
HUIXIAO_FFMPEG_PATH=ffmpeg
HUIXIAO_ASR_DEVICE=cpu
HUIXIAO_ASR_LANG=zh
HUIXIAO_ASR_REGION=CN
HUIXIAO_ASR_BEAM_SIZE=3
HUIXIAO_FFMPEG_PATH=F:\Program Files\ffmpeg\bin\ffmpeg.exe
HUIXIAO_ENABLE_LOCAL_DIARIZATION=true
HUIXIAO_ASR_MAX_SPEAKERS=3
HUIXIAO_FUNASR_RUNTIME_WS_URL=ws://127.0.0.1:10095
HUIXIAO_AUDIO_PREPARE_TIMEOUT_SECONDS=14400
HUIXIAO_LIVE_ASR_MODE=2pass
HUIXIAO_LIVE_CHUNK_SIZE=5,10,5
HUIXIAO_LIVE_CHUNK_INTERVAL=10
HUIXIAO_LIVE_ENCODER_LOOK_BACK=4
HUIXIAO_LIVE_DECODER_LOOK_BACK=1
HUIXIAO_LIVE_REQUIRE_SPEAKER=true
HUIXIAO_FILE_ASR_FRAME_MS=100
HUIXIAO_FILE_ASR_FLUSH_SILENCE_FRAMES=10
HUIXIAO_FILE_ASR_INACTIVITY_TIMEOUT_SEC=8
HUIXIAO_FILE_ASR_RUNTIME_TIMEOUT_MIN_SECONDS=1800
HUIXIAO_FILE_ASR_RUNTIME_TIMEOUT_BUFFER_SECONDS=1800
HUIXIAO_FILE_ASR_RUNTIME_TIMEOUT_PER_AUDIO_SECOND=3.0
HUIXIAO_FILE_ASR_RUNTIME_TIMEOUT_MAX_SECONDS=28800
